{{!-- views/index.hbs --}}

{{#> baseLayout }}

    {{#*inline "content-block"}}
        <h1>{{title}}</h1>
        {{#if messages.error}}
            <div class="alert alert-danger" role="alert">
                {{messages.error}}
            </div>
        {{/if}}
        <!--Post vers la création de formulaire-->
        <form action="/test" method="post">
            <button type="submit">{{i18n 'Créer un nouveau test'}}</button>
        </form>

        <input type="text" id="testCode">
        <button type="submit" id="goToTestBtn">{{i18n 'Afficher test'}}</button>
    {{/inline}}

    {{#*inline "scripts-block"}}
        <script>

            // Au click du bouton de recherche
            $('#goToTestBtn').click(function () {
                // Erreur si champ de recherche vide
                if($('#testCode').val()=="")
                {
                    $('#msg').html({{i18n 'Merci d\'entrer un code dans le champ'}});
                }
                // Get vers la recherche de formulaire
                else
                {
                    window.location.href = '/test/'+$('#testCode').val();
                }
            })
        </script>
    {{/inline}}

{{/baseLayout}}