{{!-- views/login.hbs --}}

{{#> baseLayout }}

    {{#*inline "content-block"}}
        <!--Post vers la création de formulaire-->
        <form class="form-signin" action="/login" method="post">
            <h1 class="h3 mb-3 font-weight-normal">{{title}}</h1>
            {{#if messages.error}}
                <div class="alert alert-danger" role="alert">
                    {{messages.error}}
                </div>
            {{/if}}
            {{#if messages.success}}
                <div class="alert alert-success" role="alert">
                    {{messages.success}}
                </div>
            {{/if}}
            <label for="inputEmail" class="sr-only">{{i18n 'Adresse email'}}</label>
            <input id="inputEmail" name="email" class="form-control" placeholder="{{i18n 'Adresse email'}}" required="" autofocus="" type="email">
            <label for="inputPassword" class="sr-only">{{i18n 'Mot de passe'}}</label>
            <input id="inputPassword" name="password" class="form-control" placeholder="{{i18n 'Mot de passe'}}" required="" type="password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{i18n 'Se connecter'}}</button>
        </form>
    {{/inline}}

{{/baseLayout}}