{{!-- views/rapportTable.hbs --}}

{{#> baseLayout }}
    {{#*inline "content-block"}}
        <h1>{{i18n 'Rapport'}} - {{code}}</h1>

        <table class="table">
            <thead>
            <tr>

                <th scope="col">{{i18n 'Catégorie'}}</th>
                <th scope="col">{{i18n 'Questions'}}</th>
                <th scope="col">{{i18n 'Valeurs'}}</th>
                <th scope="col">{{i18n 'Satisfaction'}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each reponses}}
                <tr>
                    <td>{{this.Question.Categorie.name}}</td>
                    <td>{{this.Question.question}}</td>
                    <td>{{this.value}}</td>
                    <td class="sat-{{this.satisfaction}}"></td>

                        </tr>
            {{/each}}

            </tbody>
        </table>

    {{/inline}}

    {{#*inline "scripts-block"}}
        <!--Si la réponse est trouvée dans les routes-->
            <script>
                    $(function(){
                        console.log('ok');
                        $('.sat-1').html("{{i18n 'Insatisfait'}}");
                        $('.sat-2').html("{{i18n '+/- satisfait'}}");
                        $('.sat-3').html("{{i18n 'Satisfait'}}");
                    })
            </script>
    {{/inline}}

{{/baseLayout}}