<head>
    <base href="/grp13"/>

</head>
<body>

<h1>rapport - {{code}}</h1>
<table>
    {{#each reponses}}
        <tr>
            <td>{{this.Question.Categorie.name}}</td>
            <td>{{this.Question.question}}</td>
            <td>{{this.value}}</td>
            <td>{{this.satisfaction}}</td>
        </tr>
    {{/each}}
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<canvas id="myChart" style="width:20%;height:30vh"></canvas>
<script>
    var data = [];
    data.categories = [];

        {{#each reponses}}
        if (data.categories.indexOf("{{this.Question.Categorie.name}}") == -1) {
            data.categories.push("{{this.Question.Categorie.name}}");
        }
        {{/each}}

    //TODO only one element of each kind
    //array with all values by categories
    data.categoriesValues = [];
        {{#each reponses}}
            //if the category is empty of values
            if(data.categoriesValues[data.categories.indexOf("{{this.Question.Categorie.name}}")] == undefined)
            {
                //new array for this category
                data.categoriesValues[data.categories.indexOf("{{this.Question.Categorie.name}}")] = [];
            }
            //add the category
            data.categoriesValues[data.categories.indexOf("{{this.Question.Categorie.name}}")].push({{this.value}});
        {{/each}}


    console.log(data.categoriesValues);
    var colors = [];
    var finalValues = [];

    for(let t of data.categoriesValues)
    {
        if(t.length==1)
        {
            if(t[0]==-2)
            {
                finalValues.push(0)
                colors.push("grey");

            }
            if(t[0]==0)
            {
                finalValues.push(-1)
                colors.push("lightblue");
            }
            if(t[0]==-1)
            {
                finalValues.push(-1);
                colors.push("grey");
            }
            else
            {
                finalValues.push(t[0]);
                colors.push(getColor(t[0]));
            }
        }
        else
        {
            if(t[0]==-1 && t[1]==-1)
            {
                finalValues.push(-1);
                colors.push("grey")
            }

            else
            {
                finalValues.push(0);
                colors.push("grey")
            }
        }

    }

    console.log(finalValues);






    function getColor (v) {
        if (v < 0) {
            return 'grey';
        }
        else if (v < 4) {
            return 'red';

        }
        else if (v < 7) {
            return 'orange';

        }
        else {
            return 'green';
        }
    }


    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: data.categories,
            datasets: [{
                label: 'Niveau de participation',
                data: finalValues,
                backgroundColor: colors,
                borderColor: colors,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });


</script>

</body>