{{#> baseLayout }}

    {{#*inline "content-block"}}
        <h1>User list</h1>
        <form class = "userForm" action='/users' method='POST'>
            <div class="addUser">
                <input name="lastname" type="text" placeholder="Lastname here"/>
                <input name="firstname" type="text" placeholder="Firstname here"/>
                <input name="email" type="text" placeholder="Email here"/>
                <input name="password" type="text" placeholder="Password here"/>
                <select name="role">
                    <option value="user">user</option>
                    <option value="admin">admin</option>
                </select>
                <button type ="submit" name="addUserButton">Add user</button>
            </div>
        </form>
            <div id="titles">
                <input id="user-id-label" type="text" value="Id" readonly/>
                <input id="user-lastname-label" type="text" value="Nom" readonly/>
                <input id="user-firstname-label" type="text" value="Prenom" readonly/>
                <input id="user-email-label" type="text" value="E-mail" readonly/>
                <input id="user-password-label" type="text" value="Mot de passe" readonly/>
                <input id="user-role-label" type="text" value="Rôle" readonly/>
            </div>

            {{#each users}}
                <form class="userForm">
                    <div class="form-group">
                        <input id="user-{{this.id}}" type="text" value="{{this.id}}" readonly />
                        <input id="user-{{this.id}}-lastname" name="lastname" type="text" value="{{this.nom}}" readonly/>
                        <input id="user-{{this.id}}-firstname" name="firstname" type="text" value="{{this.prenom}}" readonly/>
                        <input id="user-{{this.id}}-email" name="email" type="text" value="{{this.email}}" readonly/>
                        <input id="user-{{this.id}}-password" name="password" type="text" value="{{this.password}}" readonly/>
                        <input id="user-{{this.id}}-role-readonly" name="role-readonly" type="text" value="{{this.role}}" readonly/>
                        <select id="user-{{this.id}}-role" name="role" style="display:none">
                            <option value="user">user</option>
                            <option value="admin">admin</option>
                        </select>
                        <button id="editUserButton-{{this.id}}"type="button" onclick="showForm({{this.id}})" >Edit</button>
                        <button id="saveUserButton-{{this.id}}" type="button" onclick="updateUser({{this.id}}, this.form)" style="display:none" >Save</button>
                        <button type="button" onclick="deleteUser({{this.id}})" >Delete</button>
                    </div>
                </form>
            {{/each}}
    {{/inline}}

    {{#*inline "scripts-block"}}
    {{/inline}}
{{/baseLayout}}
<script src='javascripts/users.js'></script>

