{{#> baseLayout }}

    {{#*inline "content-block"}}
        <h1>{{i18n 'Liste des utilisateurs'}}</h1>
        <form class = "userForm" action='/users' method='POST'>
            <div class="addUser">
                <input name="lastname" type="text" placeholder="{{i18n 'Nom de famille'}}"/>
                <input name="firstname" type="text" placeholder="{{i18n 'Prénom'}}"/>
                <input name="email" type="text" placeholder="{{i18n 'Adresse email'}}"/>
                <input name="password" type="text" placeholder="{{i18n 'Mot de passe'}}"/>
                <select name="role">
                    <option value="user">{{i18n 'Utilisateur'}}</option>
                    <option value="admin">{{i18n 'Administrateur'}}</option>
                </select>
                <button type ="submit" name="addUserButton">{{i18n 'Ajouter l\'utilisateur'}}</button>
            </div>
        </form>
            <div id="titles">
                <input id="user-id-label" type="text" value="Id" readonly/>
                <input id="user-lastname-label" type="text" value="{{i18n 'Nom de famille'}}" readonly/>
                <input id="user-firstname-label" type="text" value="{{i18n 'Prénom'}}" readonly/>
                <input id="user-email-label" type="text" value="{{i18n 'Adresse email'}}" readonly/>
                <input id="user-password-label" type="text" value="{{i18n 'Mot de passe'}}" readonly/>
                <input id="user-role-label" type="text" value="{{i18n 'Rôle'}}" readonly/>
            </div>

            {{#each users}}
                <form class="userForm">
                    <div class="form-group">
                        <input id="user-{{this.id}}" type="text" value="{{this.id}}" readonly />
                        <input id="user-{{this.id}}-lastname" name="lastname" type="text" value="{{this.nom}}" readonly/>
                        <input id="user-{{this.id}}-firstname" name="firstname" type="text" value="{{this.prenom}}" readonly/>
                        <input id="user-{{this.id}}-email" name="email" type="text" value="{{this.email}}" readonly/>
                        <input id="user-{{this.id}}-password" name="password" type="text" value="{{this.password}}" readonly/>
                        <input id="user-{{this.id}}-role-readonly" name="role-readonly" type="text" value="{{this.role}}" readonly/>
                        <select id="user-{{this.id}}-role" name="role" style="display:none">
                            <option value="user">{{i18n 'Utilisateur'}}</option>
                            <option value="admin">{{i18n 'Administrateur'}}</option>
                        </select>
                        <button id="editUserButton-{{this.id}}"type="button" onclick="showForm({{this.id}})" >{{i18n 'Modifier'}}</button>
                        <button id="saveUserButton-{{this.id}}" type="button" onclick="updateUser({{this.id}}, this.form)" style="display:none" >{{i18n 'Sauvegarder'}}</button>
                        <button type="button" onclick="deleteUser({{this.id}})" >{{i18n 'Supprimer'}}</button>
                    </div>
                </form>
            {{/each}}
    {{/inline}}

    {{#*inline "scripts-block"}}
        <script src='javascripts/users.js'></script>
    {{/inline}}
{{/baseLayout}}