{{#> baseLayout }}

    {{#*inline "content-block"}}
        <h1>{{i18n 'Console d\'administration'}}</h1>
        <form class= "form-group" action='/users' method='POST'>
            <h3>{{i18n 'Ajouter un utilisateur'}}</h3>
            <div id="add_user_form" class="row">
                <input name="lastname" class="col-md-2 form-control" type="text" placeholder="{{i18n 'Nom de famille'}}" required/>
                <input name="firstname" class="col-md-2 form-control" type="text" placeholder="{{i18n 'Prénom'}}" required/>
                <input name="email" class="col-md-2 form-control" type="text" placeholder="{{i18n 'Adresse email'}}" pattern="[a-zA-Z0-9._-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
                <input name="password" class="col-md-2 form-control" type="password" placeholder="{{i18n 'Mot de passe'}}" minlength="4" required/>
                <select name="role" class="col-md-2 form-control" required>
                    <option value="default" disabled selected>{{i18n 'Choisir un rôle'}}</option>
                    <option value="user">{{i18n 'Utilisateur'}}</option>
                    <option value="admin">{{i18n 'Administrateur'}}</option>
                </select>
                <button type ="submit" class="btn btn-primary" name="addUserButton">{{i18n 'Ajouter l\'utilisateur'}}</button>
            </div>
        </form>

        <h3>{{i18n 'Liste des utilisateurs'}}</h3>
        <div class="row" id="user_list_labels">
            <div id="user-id-label" class="col-md-1">{{i18n 'Id'}}</div>
            <div id="user-nom-label" class="col-md-2">{{i18n 'Nom'}}</div>
            <div id="user-prenom-label" class="col-md-2">{{i18n 'Prénom'}}</div>
            <div id="user-email-label" class="col-md-2">{{i18n 'Email'}}</div>
            <div id="user-password-label" class="col-md-2">{{i18n 'Mot de passe'}}</div>
            <div id="user-role-label" class="col-md-1">{{i18n 'Rôle'}}</div>
        </div>
        {{#each users}}
            <form id="user-{{this.id}}-form" class="form-group" data-item="{{this.id}}">
                {{#if messages.error}}
                    <div class="alert alert-danger" role="alert">
                        {{messages.error}}
                    </div>
                {{/if}}
                <div class="form-group row">
                    <div id="user-{{this.id}}-id" class="col-md-1" />{{this.id}}</div>
                    <div class="col-md-2">
                        <input id="user-{{this.id}}-lastname" class="form-control" name="lastname" type="text" value="{{this.nom}}" required readonly/>
                    </div>
                    <div class="col-md-2">
                        <input id="user-{{this.id}}-firstname" class="form-control" name="firstname" type="text" value="{{this.prenom}}" required readonly/>
                    </div>
                    <div class="col-md-2">
                        <input id="user-{{this.id}}-email" class="form-control" name="email" type="text" value="{{this.email}}" pattern="[a-zA-Z0-9._-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required readonly/>
                    </div>
                    <div class="col-md-2">
                        <input id="user-{{this.id}}-password" class="form-control" name="password" type="password" minlength="4" value="{{this.password}}" required readonly/>
                    </div>
                    <div class="col-md-1">
                        <select id="user-{{this.id}}-role" class="form-control" name="role" required disabled>
                            <option value="user">user</option>
                            <option value="admin">admin</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button id="editUserButton-{{this.id}}" class="btn btn-primary" type="button" onclick="showForm({{this.id}})" >{{i18n 'Modifier'}}</button>
                        <button id="saveUserButton-{{this.id}}" class="btn btn-primary" type="submit" style="display:none" >{{i18n 'Sauvegarder'}}</button>
                        <button type="button" class="btn btn-primary"  onclick="deleteUser({{this.id}})" >{{i18n 'Supprimer'}}</button>
                    </div>
                </div>
            </form>
        {{/each}}
    {{/inline}}

    {{#*inline "scripts-block"}}
        <script>
            // instead of using serializeArray, get form as an object
            // thanks to https://www.helicaltech.com/get-form-data-as-an-object-using-jquery/
            jQuery.fn.serializeObject = function(){
                var results = {},
                        arr = this.serializeArray();
                for (var i = 0, len = arr.length; i < len; i++) {
                    obj = arr[i];
                    //Check if results have a property with given name
                    if (results.hasOwnProperty(obj.name)) {
                        //Check if given object is an array
                        if (!results[obj.name].push) {
                            results[obj.name] = [results[obj.name]];
                        }
                        results[obj.name].push(obj.value || '');
                    } else {
                        results[obj.name] = obj.value || '';
                    }
                }
                return results;
            }
        </script>
        <script>
                {{#each users}}
                $('#user-{{this.id}}-role').val('{{this.role}}');
                {{/each}}
        </script>
        <script>
            $("form").submit(function(e){
                // Prevent submit default event to update user
                e.preventDefault();
                // get user id through custom data-item attribute and serialize form to get informatons and update the user
                updateUser($(this).attr("data-item"), $(this).serializeObject());
            });


        </script>
        <script>
            /* Update user */
            function updateUser(id, form) {
                // Call PUT for updating the user
                console.log("updateUser");
                superagent.put('/users')
                        .send({
                            id: id,
                            nom: form.lastname,
                            prenom: form.firstname,
                            email: form.email,
                            password_clear : form.password,
                            role: form.role
                        })
                        .then(function(){
                            window.location.href = '/users'; // Reload users page
                        });
            }

            /* Delete user */
            function deleteUser(id) {
                // Call DELETE for removing the user
                superagent.delete(`/users/${id}`) // Delete current user
                        .then(() => {
                            window.location.href = '/users'; // Reload users page
                        });
            }

            /* Show save button, hide edit button and make editable corresponding fields */
            function showForm(id) {
                console.log("LOG : show edit button");
                $(`#saveUserButton-${id}`).show();
                $(`#user-${id}-role`).prop('disabled',false);
                $(`#editUserButton-${id}`).hide();
                $(`#user-${id}-lastname`).prop('readonly', false);
                $(`#user-${id}-firstname`).prop('readonly', false);
                $(`#user-${id}-email`).prop('readonly', false);
                $(`#user-${id}-password`).prop('readonly', false);
            }
        </script>
    {{/inline}}
{{/baseLayout}}